header{
    height:10vh;
}

nav{
    height:inherit;
}

.NavBar{
    height: inherit;
    margin:0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    padding:0;
}

.Link{
    margin-top: auto;
    margin-bottom: auto;
    color:white;
}

ul{
    list-style-type: none;
}

.noBar {
    display:none;
}